// @Author: Phillip Curl <PC>
// @Date:   2016-04-27T19:05:29-04:00
// @Email:  phillipcurl@gmail.com
// @Project: Libations-Portal
// @Last modified by:   PC
// @Last modified time: 2016-05-10T21:40:55-04:00

$nav-height: 60px;
$brand-primary: #b56969;
$border-color: $brand-primary;
$input-border-focus: $brand-primary;
$input-box-shadow-focus: $brand-primary;
// $card-border-color: $border-color;
$card-space: 1.5rem;
$card-spacer-x: $card-space;
$card-spacer-y: $card-space;
// $list-group-border-color: $border-color;