/**
* @Author: Phillip Curl <philcurl>
* @Date:   2016-04-18T09:01:46-04:00
* @Email:  phillipcurl@gmail.com
* @Project: Libations-Portal
// @Last modified by:   PC
// @Last modified time: 2016-05-10T22:16:31-04:00
*/

:host {}

@import './../../scss/variables';

$nav-border: 2px solid $brand-primary;

nav a.router-link-active:not(.navbar-brand) {
  color: $brand-primary;
  font-weight: 700;
  border-bottom: $nav-border;
}

.navbar {
  // padding-bottom: 0;
}

.navbar-brand {
  color: $brand-primary;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1.8rem;
}

.nav-link:hover {
  border-bottom: $nav-border;  
}

.navbar-nav {
  &.pull-right {
    padding-top: 8px;
  }
  .nav-link {
    padding: 0 7px;
  }
}
